*{
	z-index: 1;
}
body{
	margin: 0px;
	padding: 0px;
    background-color: #eeeeee;
    font-family: "Lato", sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
  }
html{
	scroll-behavior: smooth;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.toggle{
	display: none;
}
#main{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-color: #edf1fd;
	background: url("blur.jpg");
	position: relative;
	background-image: url("profile.JPG");
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: right bottom;
	z-index: 10;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: times new roman;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 10px 0px 10px;
	background-color: #f4f7ff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
	z-index:99;
}
.menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color: #6c707c;
	font-size: 12px;
}
.lang{
	color: #292929;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	color: #292929;
	font-family: trebuchet ms;
}

#style{
    color: aqua;
    padding: 50px;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }

  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
  }
  
  .profile-content-wrapper {
    padding: 30px;
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
  }
  